# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# C extensions
*.so
*.pyc
# Ignore model folder that contains temporaral model files
*.kv
*.npy
# Ignore the temp vector data
/.idea/runConfigurations/KeyPhrase.xml
#/**/cluster/iteration_*/experiments/hdbscan/*
# /**/cluster/iteration_*/experiments/hdbscan/images/*
/output/AIMLUrbanStudyCorpus/cluster_merge/key_phrases/key_phrase_clusters/level_0/experiments/
